input {
  border-radius: 2px;
  width: 80%;
}
input:hover {
  --tw-ring-color: rgb(34 197 94);
}
p {
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  /* Firefox */
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;

  /* IE, Trident */
  overflow: hidden;
  height: 40px;
}
.line {
  border-color: rgb(100 116 139);
  border-right-width: 1px;
  border-bottom-width: 2px;
}
.max-w {
  max-width: 250px;
}
@media screen and (min-width: 720px) {
  .contain-table {
    height: auto;
  }
  .no-display-table {
    display: none;
  }
  .yes-display-table {
    display: flex;
  }
  .rwdimg-table {
    display: block;
    width: 80%;
    height: 0;
    padding-bottom: 40%;
    overflow: hidden;
    background: url(./img/thumb-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .contain-mobile {
    height: auto;
  }
  .no-display-mobile {
    display: none;
  }
  .yes-display-mobile {
    display: flex;
  }
  .rwdimg-mobile {
    display: block;
    width: 80%;
    height: 0;
    padding-bottom: 40%;
    overflow: hidden;
    background: url(./img/thumb-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn {
    font-size: 0.5rem;
  }
  .font-big {
    font-size: 1.5rem;
  }
}
